#main_container {
  width: 100%;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #626263;
}

#nav_bar{
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: #ccc;

}

#logo{
  font-family: "Marcellus SC";
  float: left;
  padding: 11px 25px;
  font-size: 40px;
}

#logo a{
  text-decoration: none;
}

.nav_buttons{
  display: inline;
  float: right;
  margin: 22px 20px 0 0;
  padding: 5px 15px; 
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ECF0F1;
  width: 80px;
  height: 25px;
  text-align: center;
}

.nav_buttons a {
  text-decoration: none;
  color: #ECF0F1;
  font-size: 18px;
}

.nav_buttons a:visited {
  color: #ECF0F1;
}

.nav_buttons:hover{
  background-color: #16A085;
}

#home_container{
  padding-top: 80px;
  height: 800px;
}

#logged_in {
  width: 100%;
  padding-top: 30px;
}

#select_deck{
  /*width: 250px;*/
  text-align: center;
  /*margin: 0 auto;*/
  font-size: 40px;
  color: #333;
}

#prelogin {

}

#tag_line{
  
}

#select_deck {
  font-family: "Gloria Hallelujah";
  color: #ECF0F1;
}

#decks {
  width: 820px;
  padding-right: 43px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 200px;
}

.deck-box {
  display: inline-block;
  width: 220px;
  height: 340px;
  background-color: #e5e5e5;
  border-radius: 10px;
  margin-left: 50px;
  -webkit-box-shadow: 0 8px 6px -6px #363636;
  text-align: center;
  margin-bottom: 50px;
}

.deck-image {
  margin-left: 10px;
  margin-top: 50px;
  height: 100px;
  width: 115px;
}

.deck-title {
  margin: 40px 0 70px 0;
  font-size: 25px;
  color: #363636;
}

.deck-button {
  font-size: 18px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid #ECF0F1;
  background-color: #1ABC9C;
  color: #ECF0F1;
  padding: 15px 63px;
  margin-top: 50px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.deck-button a:visited {
  color: #ECF0F1;
}

.deck-button:hover{
  background-color: #16A085;
}








