<div id="decks">
  <ul>
    <% @decks.each do |deck| %>
      <li><a href='/deck/<%=deck.name%>/new_round'><%= deck.name %></a><div id="image"><a href='/deck/<%=deck.name%>/new_round'></a></div></li>

    <% end %></br>
  </ul>
</div>
