<div id="decks">
  <% @decks.each do |deck| %>
    <div class="deck-box">
      <img src="../check.png" alt="Retina-Ready" class="deck-image">
      <p class="deck-title"><%= deck.name %></p>
      <a class="deck-button" href='/deck/<%=deck.name%>/new_round'>Let's Go!</a>
    </div>
  <% end %>
</div>
