<p>Been hur before?  Log back in, yo!</p>
<div id="login_box">
  <form id="login_form" action="/sessions" method="POST">
    <ul>
      <li><input type="text" name="user[email]" placeholder="email"></li>
      <li><input type="password" name="user[password]" placeholder="password"></li>
      <li><input type="submit" value="Log in this ditty">
    </ul>
  </form>
</div>
