<p>New to the site?  Sign up, dawg!</p>
<div id="signup_box">
  <form id="signup_form" action="/users" method="POST">
    <ul>
      <li><input type="text" name="user[email]" placeholder="email"></li>
      <li><input type="password" name="user[password]" placeholder="password"></li>
      <li><input type="password" name="password_confirmation" placeholder="re-enter password"></li>
      <li><input type="submit" value="Create this ditty">
      <li><input type="submit" value="log in"></li>
    </ul>
  </form>
</div>
