  
<div id="scoreboard">
  <div id="scoreboard_title">Deck, Round, Score</div>
  <% @data.each do |round| %> 
  <div id="round">
    <%= round[1] %> <a href='/round/<%= round[0]%>'><%= round[0]%></a> <%= round[2] %>%</br>
  </div>
  <% end %>
</div>
