
<div id="question"><%= @card.question %></div>

<%= @verify if @verify %><br>

<section id="quiz_section">
  <div id="quiz">
    <form id="card" action="/deck/<%= @deck.name%>/<%= @card.id%>" method="post">
      <input id="guess" type="text" name="answer" placeholder="Your Answer">
      <input id="button" type="submit" value="Submit Answer">
    </form>
    <div id="answer"></div>
    <div id="next">
      <button id="next_card">Next Card</button>
    </div>
  </div>
</section>




