<div id="question"><%= @card.question %></div>

<%= @verify if @verify %><br>

<form id="card" action="/deck/<%= @deck.name%>/<%= @card.id%>" method="post">
  <input type="text" name="answer" placeholder="Your Answer"><br>
  <input type="submit" value="Submit Answer">
</form>

<div id="next">
  <button id="next_card">Next Card</button>
</div>

<div id="answer"> </div>


                                                                                           
