<div id="home_container">
 
  <% if logged_in? %>
    <div id="logged_in">
     <div id="select_deck">Select Deck</div>
      <%= erb :_decks %>
    </div>
  <% else %>
    <div id="prelogin">
      <div id="tag_line">Placeholder Tag Line</div>
      <%= erb :_login_signup_box %>
    </div>
  <% end %>

</div>




