<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/quiz.css">
  <link href='http://fonts.googleapis.com/css?family=Marcellus+SC' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Gloria+Hallelujah' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/quiz.js"></script>
  <script src="/js/home.js"></script>

  <title></title>
</head>
<body>
  <div id="main_container">
    <div id="nav_bar">
      <div id="logo"><a href='/'>Quizly</a>
      </div>
      <% if logged_in? %>
        <div class="nav_buttons"><a href='#'>Profile</a>
        </div>
        <div class="nav_buttons"><a href='/sessions/<%= @current_user.id %>'>Logout</a>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
